*{
    margin-inline:20px
}
body{
    font-family:Figtree, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:hsl(47, 89%, 63%);
    line-height:1.5;
}

@font-face{
    font-family:Figtree;
    src:url(https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap);
}
.blog-card{
    margin-block-start:-34px;
    background-color:#fff;
    inline-size:377px;
    max-inline-size:1440px;
    border:1.5px solid black;
    border-radius:15px;
    box-shadow: 7px 7px 0 #000;
}


img{
    padding-inline-end:0px;
    border-radius:10px;
    margin-block:20px;
    
}

h3{
    font-size:0.95rem;
    margin:0;
    
}
.h3-border{
    background-color: hsl(47, 88%, 63%);
    inline-size: 80px;
    padding-inline:10px;
    padding-inline-end:0px;
    padding-block:7px;
    border-radius:5px;
}
h1{
    font-weight:800px;
    font-size:1.45rem;
    inline-size:auto;
    padding-inline-start:21px;
    margin:0
}
h1:hover{
    color:hsl(47, 88%, 63%);
}

.gray-color{
    color:hsl(0, 0%, 42%);
    font-weight:500;
    font-size:16px;
}

.blog-date{
font-size:0.85rem;
margin-block-end:21px;
padding-inline-start:1px;
}

article{
    margin-block-start:11px;
    margin-block-end:21px;
}
.Greg-image{
   inline-size:25px;
   block-size:auto;
}

.Greg-name{
    color:black;
    font-size:0.75rem;
    font-weight:800;
    margin:0;
}
footer{
    display:flex;
    align-items:center;
    margin: auto;
    gap:0;

}